#rangevalues {
  display: flex;
}

form * {
  display: block;
}

/* main {
  margin-top: 70px;
} */

#join {
  display: none;
}

form input:required {
  border-left: red solid 6px;
}

form input:required:valid {
  border-left: green solid 6px;
}

form input:focus {
  background-color: yellow;
}

.submitBtn {
  margin-bottom: 15px;
}

footer img {
  width: 15%;
  height: auto;
  margin: 0 auto;
}

footer .symbol {
  display: block;
  border-bottom: 1px solid #000;
}

footer .contact {
  display: block;
}
