@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

img {
    width: 20%;
    height: auto;
}

nav {
background-color: brown;
max-width: 800px;
}
 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	max-width: 767px;  
    display:grid;  
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

/* nav a:hover {
	border: 1px solid yellow;
} */
