header {
  padding: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* position: relative; */
  align-items: center;
  margin: auto;
  background-color: #104f55;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

main {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr;
}

nav {
  flex: 1;
  margin: 1rem auto;
  font-family: Poppins;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #32746d;
}

footer * {
  margin: 5px;
  background-color: #32746d;
  display: flex;
  justify-content: center;
  color: white;
}

#join {
  background-color: #9ec5ab;
  /* margin-left: 90%; */
  position: absolute;
  right: 20px;
}

.relative {
  position: relative;
  grid-column: 1/3;
}

#cityName {
  font-family: Poppins;
  font-size: x-large;
  color: white;
  text-align: center;
}

#budapest_img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#facebook {
  width: 15%;
  height: auto;
}

#linkedin {
  width: 15%;
  height: auto;
}

#instagram {
  width: 15%;
  height: auto;
}

#menu {
  font-size: 1.5rem;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  padding: 0.25rem 0.75rem;
  background-color: #eee;
  color: #000;
  position: absolute;
  margin: 0;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  padding: 0;
  list-style: none;
  background-color: #333;
  color: #fff;
  /* padding: 0; */
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;

  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
  display: block;
  /* width: 100%; */
}
/* .open li a {
  display: block;
} */

.card,
#budapest_img {
  /* display: grid; */
  grid-template-rows: auto auto; /* Two rows */
  border-radius: 10px;
  border: 2px black solid;
  margin-bottom: 10px;
}

.card h3 {
  margin: 0;
  background-color: #32746d;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

.card p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.card ul {
  padding: 5px;
}

.card ul li {
  list-style-type: none;
}

footer img {
  width: 15%;
  height: auto;
  margin: 0 auto;
}

footer .symbol {
  display: block;
  border-bottom: 1px solid #000;
}

footer .contact {
  display: block;
}

footer p {
  align-self: center;
}

form input:required {
  border-left: red solid 6px;
}

form input:required:valid {
  border-left: green solid 6px;
}

form input:focus {
  background-color: yellow;
}

form * {
  display: block;
  
}

form fieldset {
  min-width: 75%;
}

form label,
fieldset,
#submit {
  margin: 10px;
}




.MembershipLevel :nth-child(3) {
  display: none;
}

footer h3 {
  align-self: center;
}

form {
  margin-top: 30px;
}


#weather-icon {
  width: 10%;
  height: auto;
}

figure {
  display: flex;
  justify-content: center;

  align-items: center;
  margin: 0;
  text-align: center;
}

figcaption {
  margin-left: 5px;
}


.banner {
  /* width: 100%;
  height: 200px; Adjust this value based on your design preferences */
  background-color: #3498db; /* Choose a color that complements your overall theme */
  text-align: center;
  color: #fff; /* Set the text color to ensure readability on the background */
  padding: 20px; /* Add padding for spacing within the banner */
}

.banner-remove {
  display: none;
}

.spotLightsArticle div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: 1px solid black;
  /* width: 100%; */
}

.spotLightsArticle h2 {
  margin: 0;
}

#current_event {
  
  font-size:xx-large;
  padding: 80px 0;

}