nav {
  flex: 1;
  margin: 1rem auto;
}

/* small view navigation */
#menu {
  font-size: 1.5rem;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  padding: 0.25rem 0.75rem;
  background-color: #eee;
  color: #000;
  position: absolute;
  margin: 0;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  padding: 0;
  list-style: none;
  background-color: #333;
  color: #fff;
  /* padding: 0; */
}
.navigation li {
  display: none;
}
.navigation li a {
  display: block;

  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
  display: block;
  /* width: 100%; */
}
.open li a {
  /* display: block; */
}

/* header {
  display: flex;
} */
header {
  padding: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /* position: relative; */
  align-items: center;
  margin: auto;
  background-color: #32746d;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

#budapest_img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

#facebook {
  width: 15%;
  height: auto;
}

#linkedin {
  width: 15%;
  height: auto;
}

#instagram {
  width: 15%;
  height: auto;
}

.card {
  /* display: grid; */
  grid-template-rows: auto auto; /* Two rows */
  border-radius: 10px;
  border: 2px black solid;
  margin-bottom: 10px;
}

.card h3 {
  margin: 0;
  background-color: #32746d;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  color: white;
  border-radius: 5px;
}

.card p {
  display: flex;
  justify-content: center;
}

.card ul {
  padding: 5;
}

.card ul li {
  list-style-type: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #32746d;
}

footer * {
  margin: 5px;
  background-color: #32746d;
  display: flex;
  justify-content: center;
  color: white;
}

#last-modified {
  color: yellow;
}

main {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr;
}
