/* @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Roboto:wght@500&display=swap"); */
* {
  background-color: #9ec5ab;
}
header {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #32746d;
}



main div {
  padding:15px;
}

#motorcycle {
  grid-column-start: 1;
  width: 50%;
  height: auto;
  display: flex;
  justify-self: center;
  align-self: center;
}

header h1 {
  grid-column-start: 2;
  display: flex;
  justify-self: flex-start;
  align-self: center;
  background-color: #32746d;
  color: white;
}

/* nav {
  background-color: #01200f;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-direction: column;
  
}

nav a {
  text-decoration: none;
  color: white;
  background-color: #01200f;
  display: flex;
  justify-content: center;
} */

body {
  font-family: "Lora";
}

/* nav a:hover {
  background-color: purple;
} */

.card {
  /* display: grid; */
  grid-template-rows: auto auto; /* Two rows */
  border-radius: 10px;
  border: 2px black solid;
  margin-bottom: 10px;
  grid-column: 1/3;
}

.card h3 {
  margin: 0;
  background-color: #32746d;
  display: flex;
  justify-content: center;
  /* padding: 10px 0; */
  color: white;
}

.card p {
  display: flex;
  justify-content: center;
}

.card ul {
  padding: 5px;
}

.card ul li {
  list-style-type: none;
}

main h2 {
  text-decoration: underline;
  font-size: 95%;
  display: flex;
  justify-content: center;
  grid-column: 1/3;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #32746d;
}

footer * {
  margin: 5px;
  background-color: #32746d;
  display: flex;
  justify-content: center;
  color: white;
}

#last-modified {
  color: yellow;
}

main {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr;
}

#weather-icon {
  width: 10%;
  height: auto;
}

figure {
  display: flex;
  justify-content: center;

  align-items: center;
  margin: 0;
  text-align: center;
}

figcaption {
  margin-left: 5px;
}

nav {
  flex: 1;
  margin: 1rem auto;
  font-family: Poppins;
  background-color: black;
}

#menu {
  font-size: 1.5rem;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  padding: 0.25rem 0.75rem;
  background-color: #eee;
  color: #000;
  position: absolute;
  margin: 0;
  
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "❎";
}

.navigation {
  padding: 0;
  list-style: none;
  /* background-color: #333; */
  background-color: black !important;
  display: flex;
  justify-content: space-around;
  color: #fff;
  flex-direction: column;
  /* padding: 0; */
}
.navigation li {
  display: none;
  background-color: black !important;
}
.navigation li a {
  display: block;

  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.navigation li a:hover {
  background-color: #bbb;
  color: #333;
  font-weight: 700;
}

.open li {
  display: block;
  /* width: 100%; */
}



/* Directory */

/* #directory {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
  display: block;
} */

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

/* section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
} */

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
  grid-template-columns: 12% 12% 12% 12% 12% 12% 28%;
	margin: 0;
	padding: 0.25rem;
  
}

.list section > * {
	margin: 0 1rem;
  background-color: transparent;
  
  /* background-color: blue; */
  /* margin: 1rem; */
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}


.grid-discover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  
}

.grid-discover * {
  padding: 10px;
  margin: auto auto;
  /* align-items: center; */
}


/* .images-discover {
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
} */
/* 
.images-discover img {
  margin: 16px;
  height: 108.400px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}  */

/* .headers-discover p {
  margin: 55px 0;
  width: auto;

} */



.headers-discover {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center !important;
}

/* .grid-discover img {
  display: block;
} */

.dark * {
  background-color: black;
  color:white;
}

#dark-mode {
  grid-column: 1/3;
  width: 20%;
  margin-left: auto;
  margin-right: 20px;
}

.welcome-message {
  font-size:35px;
  display:flex;
  justify-content: center;
  margin-top: 45px;
}


#links a {
  text-decoration: none;
}

.hero {
	/* margin: 10px auto; */
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	/* height: 300px; */
  grid-column: 1/3;
  width: 70%;
  margin: 0 auto;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
  
}

.herolabel {
	position: absolute;
  
  width: 30%;
	top: 10px;
	left: 10px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1%;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
  font-size: 8px;
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1rem;
  background: transparent;
	font-family:"Great Vibes", serif;
} 

iframe {
  width: 100%;
  border: 0;
}

#contactme {
  display: block;
  /* align-content: center; */
  
}

#aboutme {
  display: block;
}

#row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  margin: 0 auto;
  text-align: center;
}

#wedding {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

/* main > * {
  grid-column: 1/3;
} */